.header_section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    background-image: url(images/dolphins-in-water.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.nav_section {
    background-color: #b89388;
    width: 100%;
}

.nav_header {
    display: flex;
    justify-content: center;
}

.navbar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}