body {
    margin: 0;
    padding: 0;

}

/* Header */
.header_section {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 80vh;
    background-image: url(images/two\ dolphins.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#hero_txt h1 {
    font-weight: bold;
    font-size: clamp(2rem, 6vw, 3.8rem);
    font-family: 'Calligraffitti', cursive;
    line-height: 24px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

/* Navbar */
ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #55d6be;
}

ul li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-family: "Calligraffitti", cursive;
    font-size: 20px;
    color: #0B070D;
}

ul li a:hover {
    background-color: #acfcd9;
}

.main_section1 {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 2%;
    background-color: #d7d5da;
}

.news_content1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 80%;
    width: 100%;
    align-items: center;
}

.news_txt1 {
    grid-column: span 2;
}

h2 {
    font-family: 'nunito', sans-serif;
    font-size: large;
}

.txt {
    font-family: 'nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.main_images {
    grid-column: span 2;
    display: flex;
    justify-content: center;

}

.images {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

.images_1 {
    display: flex;
    justify-items: flex-start;
    max-width: 100%;
}

.dolphins_1 {
    max-width: 90%;
}

.images_2 {
    display: flex;
    justify-content: end;
    max-width: 100%;
}

.dolphins_2 {
    max-width: 90%;
}

.buttons {
    font-family: 'nunito', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    border: none;
    border-radius: 4%;
    padding: 2%;
    color: #0B070D;
    background-color: #55d6be;
    text-decoration: none;
}

.buttons:hover {
    background-color: #acfcd9;
    color: #0B070D;
}

hr {
    margin: 0;
}

.main_section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    background-color: #d7d5da;
}

.news_content2 {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    min-height: 70vh;
}

.news_card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.news_card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.news_card h3 {
    margin-top: 15px;
}

.about_section {
    display: flex;
    justify-content: center;
    background-color: #d7d5da;
    padding: 15px 20px;
}

.about_content {
    max-width: 800px;
    text-align: center;
}

.about_content h4 {
    font-family: 'nunito', sans-serif;
    margin-bottom: 20px;
    font-size: 24px;
}

.about_content p {
    font-family: 'nunito', sans-serif;
    line-height: 1.8;
}

.footer_section {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #d7d5da;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer_logo {
    font-family: 'nunito', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.footer_links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 2%;
}

.footer_links a {
    color: black;
}

/* Tablet */

@media (max-width: 992px) {

    .header_section {
        min-height: 48vh;
        background-position: center;
    }

    .news_content1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .news_txt1,
    .main_images {
        grid-column: span 2;
    }

    .main_section2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 600px) {

    .header_section {
        min-height: 30vh;
        background-position: center;
    }


    ul {
        flex-direction: column;
        align-items: stretch;
    }

    .news_content1 {
        grid-template-columns: 1fr;
    }

    .news_txt1,
    .main_images {
        grid-column: span 1;
    }

    .main_section2 {
        grid-template-columns: 1fr;
    }
}